body {
	background-color: rgba(44, 141, 169, 0.4) !important;
	background: url("images/tv_field.jpg") no-repeat center center fixed;
	background-blend-mode: color;
	background-size: cover;
}


header {
  text-align: center;
  height: 200px;
}

form {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  height: 400px;
	margin: -15px;
  vertical-align: middle;
  padding: 12px;
}

h3 {
	text-align: center;
	color: #f2eeea;
	font-family: 'Shadows Into Light', cursive;
	font-size: 36px;
	padding: 10px;
}


.centerall {	
	justify-content: center;
	align-items: center;
}



